<!doctype html>
<html lang="en">
  <head>
    <title><%= name %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <h1>Welcme the -> <%= name %> subreddit</h1>
    <h2>We have <%= subscribers %> subscribers</h2>
    <p><%= description %></p>
    <hr>
      <% for(let post of posts) { %>
<article>
        <p><%= post.title %> -> Created by <b><%= post.author %></b></p>
      <% if(post.img) { %>
       <div>
      <img src="<%= post.img %>" alt="">
       </div>
      <% } %>
      </article>
       <% } %>
    </hr>
  </body>
</html>
